.wrapper
  #intro
    .wrapper
      = link_to("Let's walk the path together!", '')
      nace para recopilar los eventos relacionados con el desarrollo de software que van surgiendo por toda España.
      %br
      %br
      ¡Acércate a la comunidad española de desarrolladores!

  = render 'events', :events => @events
  //= render 'new_event'
  #add_event
    .wrapper
      Si quieres que un evento aparezca aquí contáctame en
      = link_to("twitter", "http://twitter.com/")
      , soy 
      = link_to("@plagelao", "http://twitter.com/plagelao")
    El único que puede añadir eventos a 
    = link_to("Let's walk the path together!", '')
    por ahora soy yo, aunque intentaré cambiar ésto lo antes posible

