.wrapper
  #intro
    .wrapper
      = link_to("Let's walk the path together!", '')
      nace para recopilar los eventos relacionados con el desarrollo de software que van surgiendo por toda España.
      %br
      %br
      ¡Acércate a la comunidad española de desarrolladores!

  #events
    .wrapper
      = render 'feed'
      .wrapper
        - if @events.empty?
          Ningún evento próximamente :(
        - else
          - @events.each do |event|
            .datebox
              %span.month
                #{event.month}
              %span.day
                #{event.day}
              %span.time
                #{event.time}
            - if event.title.length > 35
              .event_with_long_title
                = link_to(event.title, event.link)
            - if event.title.length <= 35
              .event_with_short_title
                = link_to(event.title, event.link)


  #add_event
    .wrapper
      Si quieres que un evento aparezca aquí contáctame en
      = link_to("twitter", "http://twitter.com/")
      , soy 
      = link_to("@plagelao", "http://twitter.com/plagelao")
    El único que puede añadir eventos a 
    = link_to("Let's walk the path together!", '')
    por ahora soy yo, aunque intentaré cambiar ésto lo antes posible

