- unless notice.nil? or notice.empty?
  - errors = notice.map(&:downcase).join(' Además, ')
  - errors[0] = errors.slice(0,1).capitalize
  #notice= errors
#new_event
  #title
    ¡Vas a crear un nuevo evento, mola!
  = form_for(@event, :url => {:action => 'create'}) do |form|
    #event_details
      .form_field
        = form.text_field(:title)
        = form.label(:title, 'Título')

      .form_field
        = form.text_field(:link)
        = form.label(:link, 'Web')

      #event_slot
        = fields_for @event.slot do |slot_form|
          #event_date
            .form_field
              = slot_form.text_field(:datetime_as_string, :value => @event.slot.datetime_as_string)
              = slot_form.label(:datetime_as_string, 'Fecha y hora')
              .help
                (DD/MM/AAAA [HH:MM])
          #undefined_time
            .reverse_form_field
              = slot_form.check_box(:undefined_time)
              = slot_form.label(:undefined_time, 'no tengo ni idea de a que hora será...')
    = form.submit('Crear Evento')
