- unless notice.nil?
  - errors = notice.map(&:downcase).join(' Además, ')
  - errors[0] = errors.slice(0,1).capitalize
  #notice= errors
= form_for(@event, :url => {:action => 'create'}) do |form|
  %p
  = form.label(:title, "Evento:")
  %p
  = form.text_field(:title)

  %p
  = form.label(:link, "Enlace a la web del evento:")
  %p
  = form.text_field(:link)

  %p
  = form.label(:date, "Fecha del evento:")
  %p
  = datetime_select('event', 'date', :use_month_numbers => true)

  %p
  = submit_tag('Crear Evento', :id => 'new_event')

