- unless notice.nil? or notice.empty?
  - errors = notice.map(&:downcase).join(' Además, ')
  - errors[0] = errors.slice(0,1).capitalize
  #notice= errors
= form_for(@event, :url => {:action => 'create'}) do |event_form|
  %p
  = event_form.label(:title, "Evento:")
  %p
  = event_form.text_field(:title)

  %p
  = event_form.label(:link, "Enlace a la web del evento:")
  %p
  = event_form.text_field(:link)

  = fields_for @event.slot do |slot_form|
    %p
    = slot_form.label(:date, "Fecha del evento:")
    %p
    = datetime_select('slot', 'datetime', :use_month_numbers => true)

  %p
  = submit_tag('Crear Evento', :id => 'new_event')
