!!! HTML
%html{ "xml:lang" => "en"}
  %head
    %title
      Let's walk the path together!
    //= stylesheet_link_tag 'styles.css', :cache => true 
    = auto_discovery_link_tag(:atom, "/events.atom")
    %link{:rel =>"stylesheet", :href =>"/stylesheets/styles.css", :type => "text/css", :charset => "utf-8" }
    %link{:rel =>"author", :href =>"/humans.txt", :type => "text/plain", :charset => "utf-8" }
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=UTF-8"}
    %meta{:name => 'description', :content => 'Eventos sin ánimo de lucro relacionados con la comunidad de desarrollo de software española'}
  %body
    = render 'shared/header'
    = render 'authentication'
    = yield
    = render 'shared/analytics' if Rails.env == 'production'
